#ima1 {width: 50%;
}
#ima1 {margin-left: 25%;
}
#ima1 {border-color: pink;
border-width: 20%;
border-style: double;
}
.parte1 {background-color: pink;
}
.parte2 {background-color: black;
}
h4 {text-align: center;font-size: 200px;
}